<div class="container">
<h1>Cocktails</h1>

      <% @cocktails.each do |cocktail|  %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <p><%= link_to cocktail.name.upcase, cocktail_path(cocktail)  %></p>
  </div>
      <% end  %>  

  <%= link_to "Add a cocktail", new_cocktail_path(@cocktail), class: "btn btn-success my-5"  %>

</div>