<h1>Add dose to cocktail</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <p><%= f.input :description %></p> 
  <p><%= f.association :ingredient %></p>
  <%= f.submit "submit dose", class: "btn btn-primary"  %>
<% end %>